<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XDev_Studio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
	<userSettings>
        <XDev_Studio.My.MySettings>
               <setting name="set_snippetlist" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_autocomplete_enabled" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_tasklisttodo" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_tasklistcomplete" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_defaultprojlocation" serializeAs="String">
                      <value>DEFAULT</value>
               </setting>
               <setting name="temp_projlocation" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_recentprojects" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_javaclasspath" serializeAs="String">
                      <value>C:\Program Files\Java\jdk1.7.0_71\bin</value>
               </setting>
               <setting name="set_browserhome" serializeAs="String">
                      <value>http://www.google.com</value>
               </setting>
               <setting name="set_quickpaste" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                                    <string>1</string>
                                    <string>2</string>
                                    <string>3</string>
                                    <string>4</string>
                                    <string>5</string>
                                    <string>6</string>
                                    <string>7</string>
                                    <string>8</string>
                                    <string>9</string>
                                    <string>10</string>
                                    <string>11</string>
                                    <string>12</string>
                                    <string>13</string>
                                    <string>14</string>
                                    <string>15</string>
                                    <string>16</string>
                                    <string>17</string>
                                    <string>18</string>
                             </ArrayOfString>
                      </value>
               </setting>
               <setting name="set_defaultdownloadlocation" serializeAs="String">
                      <value>DEFAULT</value>
               </setting>
               <setting name="set_infopanelsize" serializeAs="String">
                      <value>200</value>
               </setting>
               <setting name="set_theme" serializeAs="String">
                      <value>Default</value>
               </setting>
               <setting name="set_defaultfont" serializeAs="String">
                      <value>Consolas, 10pt</value>
               </setting>
               <setting name="set_showinfopanelbydefault" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_righttoleft" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_endofline" serializeAs="String">
                      <value>CrLf</value>
               </setting>
               <setting name="set_eolvisible" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_caret" serializeAs="String">
                      <value>Line</value>
               </setting>
               <setting name="set_allowdragdrop" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_Overtype" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_cursor" serializeAs="String">
                      <value>0</value>
               </setting>
               <setting name="set_displaytrayicon" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_defaultwindowstate" serializeAs="String">
                      <value>Normal</value>
               </setting>
               <setting name="set_ftpusername" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_ftpuserpass" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_ftphostname" serializeAs="String">
                      <value>HOSTNAME</value>
               </setting>
               <setting name="set_backupsloc" serializeAs="String">
                      <value>DEFAULT</value>
               </setting>
               <setting name="set_autobackup" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_autobackupinterval" serializeAs="String">
                      <value>300</value>
               </setting>
               <setting name="set_alertbackup" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_showtipsatstartup" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_customcompilerloc" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customcompilerpathvar" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customcompilercommand" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customcompilerparams" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customcompilerrequiressecondfile" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_customcompilerextension" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customcompilerenabled" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_backupwhensaving" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_applockpassword" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_applockenabled" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_browserusepreviewer" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_welcomeimagelocation" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_displaywelcomeimage" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_welcomeimagestyle" serializeAs="String">
                      <value>Stretch</value>
               </setting>
               <setting name="set_openfileinselectededitor" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_encryptbackup" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_autoencrypt" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_autoencryptinterval" serializeAs="String">
                      <value>300</value>
               </setting>
               <setting name="set_allowplugins" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_toolpanelcolor" serializeAs="String">
                      <value>ActiveCaption</value>
               </setting>
               <setting name="set_projectexplorercolor" serializeAs="String">
                      <value>ActiveCaption</value>
               </setting>
               <setting name="set_menustripcolor" serializeAs="String">
                      <value>ActiveCaption</value>
               </setting>
               <setting name="set_menustriptextcolorwhite" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_toolpanelwidth" serializeAs="String">
                      <value>200</value>
               </setting>
               <setting name="set_projectexplorerwidth" serializeAs="String">
                      <value>200</value>
               </setting>
               <setting name="set_toolpanelvisibleatstartup" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_voicepp_commandrecatstartup" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_highlightselectedline" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_usesmartindentation" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_usesmartcompletion" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_ftppathhistory" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_rsshistory" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_rssdefaultfeed" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_actionifnotabs" serializeAs="String">
                      <value>0</value>
               </setting>
               <setting name="set_highlightmatchingbraceswhenselected" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_codebookmarks" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_showindentationguides" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_customlang_autocompletelist" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customlang_keywords0" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customlang_keywords1" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_customlang_enabled" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_menustrip_mousehover" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_hoveroverinfopaneltoopen" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_speeddial_mousehover" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_speeddial" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                                    <string>Code Editor</string>
                                    <string>Notepad</string>
                                    <string>Code Metrics</string>
                                    <string>Bookmarks</string>
                                    <string>Calendar</string>
                                    <string>Documentation</string>
                                    <string>Site Previewer</string>
                                    <string>Universal Search</string>
                                    <string>Web Browser</string>
                             </ArrayOfString>
                      </value>
               </setting>
               <setting name="set_speeddial_backcolor" serializeAs="String">
                      <value>ActiveCaption</value>
               </setting>
               <setting name="set_terminal_backcolor" serializeAs="String">
                      <value>InfoText</value>
               </setting>
               <setting name="set_terminal_forecolor" serializeAs="String">
                      <value>Window</value>
               </setting>
               <setting name="set_terminal_font" serializeAs="String">
                      <value>Microsoft Sans Serif, 10pt</value>
               </setting>
               <setting name="set_confirmexit" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_highlightmatchingselection" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_notepad_linksecuritynotification" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_recentfiles" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_editordocumentmap" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="temp_performancemode" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_enableperformancemodeatstartup" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_apps_program" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_apps_arguments" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_multipaste" serializeAs="String">
                      <value>Each</value>
               </setting>
               <setting name="set_multiselection" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_wrapmode" serializeAs="String">
                      <value>None</value>
               </setting>
               <setting name="set_keepfileloc" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_quickcommand_closeafterexecute" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_smartpaste" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_smartcopy" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_smartcut" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_favorites" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_displayedtoolbars" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                                    <string>Studio</string>
                                    <string>Editing</string>
                             </ArrayOfString>
                      </value>
               </setting>
               <setting name="set_toolbarsvisible" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_toolbars_backcolor" serializeAs="String">
                      <value>ActiveCaption</value>
               </setting>
               <setting name="set_coderecovery_enabled" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_coderecovery_interval" serializeAs="String">
                      <value>10</value>
               </setting>
               <setting name="set_highlightmatchingwords" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_rememberopenedfiles" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_openedfiles" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_autosave" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_autosave_interval" serializeAs="String">
                      <value>60</value>
               </setting>
               <setting name="set_profilestartup" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_displaysplashscreen" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_startuptab" serializeAs="String">
                      <value>Welcome</value>
               </setting>
               <setting name="set_multiselectiontyping" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_tabtriggers" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_tabtriggers_replacephrase" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_tabtriggers_enabled" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_requirefilecreation" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_codetemplates" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_highlightcurrentblock" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_quickopen_folder" serializeAs="String">
                      <value>WORKSPACE</value>
               </setting>
               <setting name="set_firstlaunch" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_closebuttonactsasminimize" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_runscriptatstartup" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_scripttorunatstartup" serializeAs="String">
                      <value />
               </setting>
               <setting name="set_tabstriplocation" serializeAs="String">
                      <value>Top</value>
               </setting>
               <setting name="set_dockpanelbg" serializeAs="String">
                      <value>DEFAULT</value>
               </setting>
               <setting name="set_recentlyclosedfiles" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_filehistory" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_displaystudiobgimage" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_recordclipboardhistory" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_clipboardhistory" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
               <setting name="set_rememberclipboardhistory" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_homekeywrappedlines" serializeAs="String">
                      <value>False</value>
               </setting>
               <setting name="set_storenotifications" serializeAs="String">
                      <value>True</value>
               </setting>
               <setting name="set_notifications" serializeAs="Xml">
                      <value>
                             <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                      </value>
               </setting>
        </XDev_Studio.My.MySettings>
    </userSettings>
</configuration>
